<h1> This is a test for the account page of a logged in user </h1>
<p>ID passed: {{ output }}</p>

<form action ="/logout?_method=DELETE" method = "POST">

    <button type = "submit">Log out</button>
</form>