:root
{
    --lightgreen: #31d898;
    --brightred: #F9423D;
    --white: #fff;
    --darkgrey: #212329;
}


/* START NAVIGATION HEADER STYLES */
.nav-container
{
    width: 100%;
    background-color: var(--darkgrey);
}

.navbar
{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 100px;
    width: 90%;
    max-width: 1720px; 
    margin: 0 auto;
}


#navbar-logo
{
    color: white;
    justify-self: start;
    margin-left: 20px;
}

#navbar-logo
{
    cursor: pointer;
}

.nav-menu
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links
{
    color:white;
    text-decoration: none;
    font-size:20px;
}

.nav-links:hover
{
    color: var(--lightgreen);
    transition: all 0.2s ease-out;
}

.nav-links-btn
{
    border-width:0;
    background-color: var(--lightgreen);
    padding: 2px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover
{
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightred);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar
{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

@media screen and (max-width: 768px)
{
    .nav-container
    {
        position: relative;
        z-index: 1;
    }

    .nav-menu
    {
        display: grid;
        grid-template-columns: auto;
        background: var(--darkgrey);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .nav-menu.active
    {
        background:  var(--darkgrey);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        overflow: hidden;
        padding:0;
        z-index: 1;
    }

    .nav-links
    {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        overflow: hidden;
    }

    .nav-links:hover
    {
        background-color: var(--lightgreen);
        color: white;
        transition: all 0.4s ease-out;
    }

    .navbar
    {
        width: 100%;
    }

    .nav-links-btn
    {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgrey);
        color: white;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover
    {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--lightgreen);
        color: white;
        transition: all 0.4s ease-out;
    }

    #mobile-menu
    {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 65%);
        overflow: hidden;
    }

    .menu-toggle .bar
    {
        display: block;
        cursor: pointer;
        overflow: hidden;
    }

    .menu-toggle:hover
    {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2)
    {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* END NAVIGATION HEADER STYLES*/