:root
{
    --lightgreen: #31d898;
    --brightred: #F9423D;
    --white: #fff;
    --darkgrey: #212329;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}



/* START SEARCH BAR STYLES*/
.search-container
{
    position: absolute;
    right:5%;
    top: 9%;
    transform: translate(-5%);
}

.search-bar input
{
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: black;
    font-size: 1em;
    line-height: 25px;
    overflow: hidden;
}

.search-bar input:hover
{
    cursor: pointer;
}

.search-bar input:hover:focus
{
    cursor: text;
}

.search-bar input:hover + span
{
    background: var();
}

.search-bar input:focus
{
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: none;
    color: black;
}

.search-bar input:focus + span
{
    width: 200px;
}

.search-bar input:focus + span::before
{
    width: 2px;
    opacity: 0;
    transition: all .25s ease-in;
}

.search-bar input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid black;
    top:0;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    right:0;
}

.search-bar input:focus + span::before
{
    transition: all .25s ease-in;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: black;
    transform: rotate(45deg) translate(36px, -2px);
    
}

/* END SEARCH BAR STYLES*/

.account-container
{
    position: absolute;
    top:12%;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.profile-pic
{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    
}

.profile-pic img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.profile-header
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 50px;
}

.accounts-header
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 10px;
}

.accounts-overview
{
    height: fit-content;
    width: 100%;
    margin :20px;
    
}

.card 
{
    position: relative;
    top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:90%;
    height: 400px;
    margin-bottom: 35px;
    text-align: center;
}

.card h1
{
    text-align: left;
    padding-left: 10px;
    width: fit-content;
}

.title 
{
    color: grey;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}










