:root
{
    --lightgreen: #31d898;
    --brightred: #F9423D;
    --white: #fff;
    --darkgrey: #212329;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* START NAVIGATION HEADER STYLES */
.nav-container
{
    width: 100%;
    background-color: var(--darkgrey);
}

.navbar
{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 100px;
    width: 90%;
    max-width: 1720px; 
    margin: 0 auto;
}


#navbar-logo
{
    color: white;
    justify-self: start;
    margin-left: 20px;
}

#navbar-logo
{
    cursor: pointer;
}

.nav-menu
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links
{
    color:white;
    text-decoration: none;
}

.nav-links:hover
{
    color: var(--lightgreen);
    transition: all 0.2s ease-out;
}

.nav-links-btn
{
    border-width: 0px;
    background-color: var(--lightgreen);
    padding: 2px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover
{
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightred);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar
{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

@media screen and (max-width: 768px)
{
    .nav-container
    {
        position: relative;
    }

    .nav-menu
    {
        display: grid;
        grid-template-columns: auto;
        background: var(--darkgrey);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .nav-menu.active
    {
        background:  var(--darkgrey);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .nav-links
    {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        overflow: hidden;
    }

    .nav-links:hover
    {
        background-color: var(--lightgreen);
        color: white;
        transition: all 0.4s ease-out;
    }

    .navbar
    {
        width: 100%;
    }

    .nav-links-btn
    {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgrey);
        color: white;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover
    {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--lightgreen);
        color: white;
        transition: all 0.4s ease-out;
    }

    #mobile-menu
    {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 65%);
        overflow: hidden;
    }

    .menu-toggle .bar
    {
        display: block;
        cursor: pointer;
        overflow: hidden;
    }

    .menu-toggle:hover
    {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2)
    {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* END NAVIGATION HEADER STYLES*/

/* START SEARCH BAR STYLES*/
.search-container
{
    position: absolute;
    right:5%;
    top: 9%;
    transform: translate(-5%);
}

.search-bar input
{
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: black;
    font-size: 1em;
    line-height: 25px;
    overflow: hidden;
}

.search-bar input:hover
{
    cursor: pointer;
}

.search-bar input:hover:focus
{
    cursor: text;
}

.search-bar input:hover + span
{
    background: var();
}

.search-bar input:focus
{
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: none;
    color: black;
}

.search-bar input:focus + span
{
    width: 200px;
}

.search-bar input:focus + span::before
{
    width: 2px;
    opacity: 0;
    transition: all .25s ease-in;
}

.search-bar input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid black;
    top:0;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    right:0;
}

.search-bar input:focus + span::before
{
    transition: all .25s ease-in;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: black;
    transform: rotate(45deg) translate(36px, -2px);
    
}

/* END SEARCH BAR STYLES*/

.account-container
{
    position: absolute;
    top:12%;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.profile-pic
{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    
}

.profile-pic img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.profile-header
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 50px;
}

.accounts-header
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 10px;
}

.accounts-overview
{
    height: fit-content;
    width: 100%;
    margin :20px;
    
}

.card 
{
    position: relative;
    top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:90%;
    height: 400px;
    margin-bottom: 35px;
    text-align: center;
}

.card h1
{
    text-align: left;
    padding-left: 10px;
    width: fit-content;
}

.title 
{
    color: grey;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}

.footer
{
    position: absolute;
    bottom:0;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: var(--lightgreen);
}

.inner-footer
{
    display: block;
    margin: 0 auto;
    width:1100px;
    height:100%;
}

.inner-footer .logo-container
{
    width: 35%;
    float: left;
    height:100%;
    display: block;
}

.inner-footer .logo-container img
{
    width: 150px;
    height:auto;
    
}

.inner-footer .footer-third
{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child
{
    margin-right:0;
}

.inner-footer .footer-third h1{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

@media(max-width: 600px)
{
    .footer .inner-footer
    {
        width: 90%;
    }

    .inner-footer .logo-container, .inner-footer .footer-third
    {
        width: 100%;
        margin-bottom: 30px;
    }
}









