*{
  margin: 0;
}


/* .footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
  } */
  
.masthead 
{
    padding: 10px;
    color: white;
    font-size: large; 
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(-45deg, #28fdd8, #48f5b2, #19ffa7, #19f0be);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.landing-des-container
{
  padding: 50px;
}


.bolder-text
{
  text-align: left;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.text
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  line-height: 50px;
  color: #000000;
}


.second-main-section
{
  height:400px;
  width: 100%;
  background-color: #f3f4f5;
}

.login-text-container
{
  
  position: relative;
  top: 20%;
  
  color:black;
  font-size: xx-large;
  
}

.login-button
{
  position: relative;
  left:15%;
  top:30%;
  width: 300px;
  float: left;
  background-color:#31d898;
  color: #000000;
  font-size: xx-large;
  font-weight: bold;
}

.login-error {
  background: #e79892;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
  display: inline-block;
  border: 1px solid #e74c3c;
}

lord-icon
{
  width:500px;
  height:500px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  float: right;
  bottom: 50%;

}


/* START SEARCH BAR STYLES*/
.search-container
{
    position: absolute;
    right:5%;
    top: 9%;
    transform: translate(-5%);
}

.search-bar input
{
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: black;
    font-size: 1em;
    line-height: 25px;
    overflow: hidden;
}

.search-bar input:hover
{
    cursor: pointer;
}

.search-bar input:hover:focus
{
    cursor: text;
}

.search-bar input:hover + span
{
    background: var();
}

.search-bar input:focus
{
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: none;
    color: black;
}

.search-bar input:focus + span
{
    width: 200px;
}

.search-bar input:focus + span::before
{
    width: 2px;
    opacity: 0;
    transition: all .25s ease-in;
}

.search-bar input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid black;
    top:0;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    right:0;
}

.search-bar input:focus + span::before
{
    transition: all .25s ease-in;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: black;
    transform: rotate(45deg) translate(36px, -2px);
    
}

/* END SEARCH BAR STYLES*/


.custom-divider {
    margin: 5rem 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.btn-color-prim{
  color:#f3f4f5;
  background-color: #31d898;
  border-color:#31d898;
}

.light-font-weight{
  font-weight:300;
}



@keyframes gradient 
{
    0% 
    {
      background-position: 0% 50%;
    }
    50% 
    {
      background-position: 100% 50%;
    }
    100% 
    {
      background-position: 0% 50%;
    }
}


.navbar
{
  position: relative;
  display: block;
  padding-top: 0;
}

.navbar-brand
{
  padding-top: 0;
}


.navbar-toggler-icon
{
  padding-top: 0;
}

.navbar-nav
{
  overflow: hidden;
}
.nav-link
{
  font-size: large;
  left: 50%;
  position: relative;
  overflow: hidden;
  display: table;
  text-align: center;
}


.custom-divider 
{
    margin: 5rem 0;
}

.vertical-center 
{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* prevents footer from covering content at bottom */
body
{ 
  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Inputs*/
input[type=text], select, textarea
{
  width: 100%;
  padding: 15px;
  border: 1px solid #31d898;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea
{
  width: 100%;
  padding: 15px;
  border: 1px solid #31d898;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea
{
  width: 100%;
  padding: 15px;
  border: 1px solid #31d898;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]
{
  background-color: #31d898;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
}

input[type=submit]:hover
{
  background-color:#212529;
  color: white;
}

/*Form*/

.formcontainer
{
  padding: 10px;
  margin: auto;
}

.column
{
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
}

textarea
{
  resize: none;
  height: 170px;
  width: 450px;
}

@media screen and (max-width: 600px)
{
  .column, input[type=submit]
  {
    width: 100%;
    margin-top: 0;
  }
}







