.img-max {
    max-width: 300px;
    max-height: 250px;
    width:100%;
  }

  .icon-max {
      width: 48px;
  }

  .center-block {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .largeSpacing{
   margin-top: 5rem;
 }

 .largeSpacingBottom{
   margin-bottom: 5rem;
 }

 .profile-container
 {
   text-align: center;
 }

 .profile-container span
 {
   display: block;

 }

 .text1
 {
   width: 100%;
   padding: 10px;
   background: white;
   font-size: 40px;
   font-weight: 300;
   font-family:Nunito, sans-serif;
   letter-spacing: 5px;
   animation: text 2s 1;
 }

 @keyframes text
 {
   0%{
     color:white;
   }
   30%{
     letter-spacing: 15px;
   }
   85%{
     letter-spacing: 5px;
   }

 }

 .avatar{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  
}

.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% { border-color: hsl(0, 100%, 50%); }
  25% { border-color: hsl(90, 100%, 50%); }
  50% { border-color: hsl(180, 100%, 50%); }
  75% { border-color: hsl(270, 100%, 50%); }
  100% { border-color: hsl(360, 100%, 50%); }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar::before,
.avatar::after {
  animation: pulse 2s linear ;
  animation-duration: 3s;
  border: var(--lightgreen) solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.avatar::after {
  animation-delay: 1s;
}

.avatar:hover img {
  
}

.avatar:hover::before,
.avatar:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar:hover::after {
  animation-delay: .5s;
}

